// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700,400italic,500italic,700italic);


body{
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

html,body{
    height: 100%;
}

a:focus {
    outline: none;
}

.nav{
    text-transform: uppercase;
    font-size: 15px;
}

.btn{
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 0px;
    font-size: 22px;
    font-weight: 400;
}

.lang{
    display: inline-block;
    color: #fff;
    padding: 0 15px;
    a{
        display: inline-block;
        float: left;
        color: #fff;
        font-size: 15px;
        padding: 29px 0 !important;
    }
    p{
        display: inline-block;
        padding: 29px 0 !important;
        color: #fff;
        font-size: 15px;
        float: left;
    }
    .active,a:hover{
        text-decoration: none !important;
        color: #ff9900 !important;
    }
}

.navbar-brand{
    padding-top: 20px;
    float: none;
    width: 100%;
    max-width: 321px;
    img{
        width: 100%;
        max-width: 321px;
        height: auto;
        @media (max-width: $screen-sm-min) {
            max-width: 200px;
        }
        @media (max-width: 1200px) {
            max-width: 250px;
            padding-top:5px; 
        }
    }
}

.navbar-nav{
    margin-top: 5px;
    &>li>a{
        cursor: pointer;
    }
}

.navbar-header{
    overflow: hidden;
    height: 78px;
}

.navbar-nav>li>a:focus{
    @media (min-width: $screen-md-min) {
        color: #fff !important; 
    }
}

#yoobaki{
    margin-top: 79px;
    .top{
        display: block;
        background: url(../images/background.jpg)no-repeat center;
        background-size: cover;
        text-align: center;
        position: relative;
    }
    h1{
        position: relative;
        max-width: 597px;
        color: #ffffff;
        text-align: center;
        margin: 30% auto 0 auto;
        font-weight: normal;
        font-style: italic;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 34px;
        text-shadow: 2px 2px #000;
    }
    a{
        display: inline-block;
        width: 56px;
        height: 56px;
        background: url(../images/fleche.png)no-repeat center;
        background-size: 56px 56px;
        margin-top: 20px;
    }
    .bandeau-couleur{
        position: absolute;
        bottom: 0;
        left: 0px;
        width: 100%;
        height: auto;
        height: auto;
    }
    ul{
        list-style: none;
        color: #fff;
        padding: 0;
        text-align: center;
        margin-bottom: 
            li{
                height: 46px;
                }
            .conception{
                position: relative;
                display: inline-block;
                width: calc(100% / 6);
                float: left;
                background: url(../images/fond-orange.png)repeat-x center;
                &:after{
                content: "";
                position: absolute;
                right: 26px;
                width: 26px;
                height: 46px;
                }
    }
    .traduction{
        display: inline-block;
        width: calc(100% / 6 * 2);
        float: left;
        background: url(../images/fond-vert.png)repeat-x center;
    }
    .diffusion{
        display: inline-block;
        width: calc(100% / 6 * 3);
        float: left;
        background: url(../images/fond-bleu.png)repeat-x center;
    }
}
.infos{
    .info-top{
        text-align: center;
        display: inline-block;
        span{
            display: block;
            font-size: 22px;
            color: #ff9900;
            text-transform: uppercase;
            font-weight: normal;
        }
        p{
            display: inline-block;
            float: left;
            max-width: 720px;
            font-size: 16px;
            font-weight: 500;
            color: #4d4d4d;
            text-align: left;
            &:first-child{
                margin-top: 50px;
            }
        }
        .mascotte{
            display: inline-block;
            width: 166px;
            height: 361px;
            background: url(../images/mascotte@2x.png)no-repeat center;
            background-size: 166px 361px;
            vertical-align: middle;
            margin-top: 40px;
            margin-left: 50px;
        }
    }
}
.schema{
    margin-top: 50px;
    p{
        display: block;
        max-width: 970px;
        font-size: 22px;
        text-transform: uppercase;
        color: #4d4d4d;
        font-weight: normal;
        font-style: italic;
    }
    img{
        margin: 40px auto;
    }
}
.nicolas{
    display: inline-block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    .bloc{
        display: inline-block;
        max-width: 1024px;
        border: solid 1px #b3b3b3;
        padding: 20px 15px;
        p{
            display: inline-block;
            text-align: left;
            max-width: 1008px;
            margin: 0;
            color: #b3b3b3;
            font-size: 16px;
            font-style: italic;
            text-align: left;
        }
    }
}
.innover{
    background-color: #F2F2F2;
    padding: 30px 0;
    text-align: center;
    h2{
        text-transform: uppercase;
        display: inline-block;
        color: #4d4d4d;
        font-size: 32px;
        font-weight: 700;
        width: 100%;
        max-width: 1008px;
        text-align: left;
    }
    p{
        font-size: 16px;
        color: #4d4d4d;
        max-width: 1008px;
        width: 100%;
        display: inline-block;
        text-align: left;
    }
    span{
        font-size: 22px;
        font-weight: 500;
        text-transform: uppercase;
    }
}
.bandeau-photos{
    width: 100%;
    height: auto;
    margin-top: 10px;
    max-width: 1008px;
}
}
#mission {
    background-color: #4D4D4D;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
    h2{
        text-align: left;
        display: inline-block;
        max-width: 1000px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 30px;
    }
    p{
        text-align: left;
        display: inline-block;
        max-width: 1000px;
        width: 100%;
        margin: 10px 0;
        font-size: 16px;
    }
    .mission-bloc{
        display: inline-block;
        width: 100%;
        max-width: 499px;
        margin: 13px;
        @media (max-width: $screen-sm-min) {
            margin: 13px auto;
        }
        background-color: #fff;
        vertical-align: top;
        color: #4d4d4d;
        padding: 15px 20px;
        h4{
            font-size: 28px;
            font-weight: 400;
            text-transform: uppercase;
            text-align: left;
            margin: 0;
            span{
                display: block;
                font-style: italic;
                font-size: 18px;
            }
        }
        ul{
            list-style: none;
            padding: 0;
            text-align: left;
            li{
                margin-top: 30px;
                font-weight: 700;
                font-size: 16px;
                text-transform: uppercase;
                padding-left: 60px;
                max-width: 443px;
                min-height: 42px;
            }
        }
        .first{
            background: url(../images/1.png)no-repeat top left;
            background-size: 42px 42px;
        }
        .second{
            background: url(../images/2.png)no-repeat top left;
            background-size: 42px 42px;
        }
    }
}

#vision {
    background-color: #F2F2F2;
    padding-top: 0px;
    text-align: center;
    padding-bottom: 60px;
    p{
        width: 100%;
        display: inline-block;
        color: #4d4d4d;
        font-size: 16px;
        font-weight: 500;
        max-width: 1008px;
        text-align: left;
    }
    span{
        font-weight: 400;
        font-size: 22px;
        color: #4d4d4d;
        text-transform: uppercase;
        margin-top: 30px;
        display: block;
    }
    .main-list{
        margin-top: 80px;
        padding: 0;
        list-style: none;
        li{
            display: inline-block;
            background-color: #fff;
            width: 100%;
            max-width: 330px;
            vertical-align: top;
            margin: 0 10px 60px 10px;
            padding: 10px;
            @media (max-width: $screen-sm-min) {
                margin: 0 auto 60px auto;
            }
            img{
                margin-top: -65px;
                width: 130px;
                height: 130px;
            }
            h3{
                text-align: left;
                font-size: 32px;
                font-weight: 400;
                text-transform: uppercase;
                color: #4d4d4d;
            }
        }
        .sublist{
            padding: 10px 10px 10px 20px;
            text-align: left;
            color: #4d4d4d;
            font-size: 16px;
            list-style: disc;
            li{
                display: list-item;
                margin: 10px 0;
                padding: 0;
            }
            p{
                text-align: left;
                color: #4d4d4d;
                font-size: 16px;
                font-style: italic;
                font-weight: normal;
            }
        }
    }
    .knowmore{
        text-align: center;
        p{
            display: block;
            text-align: center;
            color: #4d4d4d;
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
            max-width: 100%;
            margin-bottom: 30px;
        }
    }
}

#intervention {
    background-color: #F2F2F2;
    text-align: center;
    padding: 40px 0;
    h2{
        color: #4d4d4d;
        text-align: left;
        display: inline-block;
        max-width: 1000px;
        width: 100%;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 32px;
        margin-bottom: 30px;
    }
    ul{
        list-style: none;
        padding: 0;
        margin-bottom: 60px;
        li{
            display: inline-block;
            width:100%;
            max-width: 332px;
            margin: 5px;
            vertical-align: top;
            @media (max-width: $screen-sm-min) {
                margin: 5px auto;
            }
        }
        img{
            width: 100%;
            height: auto;
        }
    }
    h4{
        font-size: 32px;
        font-weight: 500;
        margin-top: 0;
        strong{
            font-size: 42px;
            font-weight: 700;
        }
    }
    p{
        color: #4d4d4d;
        font-size: 16px;
    }
    .id{
        color: #ff9900;
        text-align: left;
        p{
            text-align: left;
        }
    }
    .io{
        color: #3399ff;
        text-align: right;
        p{
            text-align: right;
        }
    }
    .intervention-bloc{
        border: solid 1px #4d4d4d;
        padding: 15px 10px;
        margin-bottom: 20px;
        display: inline-block;
        width: 100%;
        max-width: 1027px;
        h4{
            font-size: 28px;
            margin: 0;
            text-transform: uppercase;
            font-weight: 400;
            text-align:left;
            color: #4d4d4d;
        }
        ul{
            padding-left: 10px;
            margin-top: 20px;
            margin-bottom: 0;
            text-align: left;
            list-style: disc;
            li{
                display: list-item;
                width: 100%;
                max-width: 100%;
                color: #4d4d4d;
            }
        }
    }
    .knowmore{
        text-align: center;
        margin-top: 50px;
        margin-bottom: 30px;
        p{
            display: block;
            text-align: center;
            color: #4d4d4d;
            font-weight: 700;
            font-size: 22px;
            text-transform: uppercase;
            max-width: 100%;
        }
    }
}

#vousetes {
    word-wrap: break-word;
    h4{
        display: block;
        height: 80px;
        padding-left: 90px;
        background: url(../images/fleche-2.png)no-repeat top left;
        @media (max-width: $screen-sm-min) {
            background-size: 30px 30px;
            padding-left: 40px;
            line-height: 30px;
        }
        background-size: 80px 80px;
        color: #fff;
        line-height: 80px;
        font-size: 32px;
        font-weight: 700;
        text-transform: uppercase;
        margin-top: 30px;
    }
    ul{
        @media (max-width: $screen-sm-min) {
            padding-left: 30px
        }
        padding-left: 90px;
        list-style: none;
        margin-bottom: 50px;
        max-width: 908px;
        width: 100%;
    }
    li{
        color: #fff;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
        padding-left: 15px;
        position: relative;
        &:before {
            content: '-';
            position: absolute;
            left: 0;
        }
    }
    .orange{
        background-color: #ff9900;
        @include box-shadow(0px 5px 15px 5px rgba(0,0,0,0.4));
        position: relative;
        z-index: 10;
    }
    .vert{
        background-color: #66cc33;
        @include box-shadow(0px 5px 15px 5px rgba(0,0,0,0.4));
        position: relative;
        z-index: 9;
    }
    .bleu{
        background-color: #3399ff;
        @include box-shadow(0px 5px 15px 5px rgba(0,0,0,0.4));
        position: relative;
        z-index: 8;
    }
    .gris{
        background-color: #B3B3B3;
        @include box-shadow(0px 5px 15px 5px rgba(0,0,0,0.4));
        position: relative;
        z-index: 7;
    }
    .innover{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 30px;
        .knowmore{
            text-align: center;
            p{
                display: block;
                text-align: center;
                color: #4d4d4d;
                font-weight: 700;
                font-size: 32px;
                text-transform: uppercase;
                max-width: 100%;
            }
            a{
                margin-top: 30px;
                font-size: 32px;
                padding: 20px 30px;
                @media (max-width: $screen-sm-min) {
                    padding: 10px;
                    font-size: 20px;
                }
            }
        }
        p{
            font-size: 16px;
            color: #4d4d4d;
            font-weight: 400;
            margin-top: 50px;
        }
    }
}
